__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
build/
dist/
.eggs/
*.egg-info/
.mypy_cache/
.pytest_cache/
.venv/
.DS_Store
.git
*.sqlite3
node_modules
pip-wheel-metadata
/*.log
local_settings.py
.env
*.pem
